*{
	margin: 0;
	padding: 0;
}
.welcome{
	position: relative;
	width: 100vw;
	height: 100vh;
}
.showvideo{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100vh;
    /*background-color: yellow;*/
    overflow: hidden;
}
video{
	/*height: 100%;*/
	width: 100%;
    min-width: 1550px;
}
.w-box{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
    width: 100%;
    background-color: rgba(32,61,79,0.8);
    /*overflow: hidden;*/
}
.w-content{
	width: 928px;
	height: 276.5px;
	margin: 0 auto;
	margin-top: 20vh;
	z-index: 2;
}
.s-content{
	max-width: 928px;
	height: 217px;
	margin: 0 auto;
}
h1{
	text-align: center;
	font-size: 50px;
	color: white;
	margin-bottom: 50px;
}
h2{
	text-align: center;
	margin-bottom: 30px;
	/*margin-top: 20px;*/
}
p{
	font-size: 16px;
}
.w-word{
	text-align: center;
	font-size: 24px;
	color: white;
	margin-bottom: 50px;
}
.w-btn{
	text-align: center;
	background-color: #3db2a0;
	width: 193px;
	height: 59px;
	margin: 0 auto;
	color: white;
	font-size: 1.2rem;
	line-height: 59px;
}
.white{
	color: white;
}
.black{
	color: black;
}
.sectiona{
	width: 100%;
	height:157px;
	background-color: white;
	padding: 30px;
}
.sectionb{
	width: 100%;
	height:157px;
	padding: 30px;
	background-color: #333333;
}
@media only screen and (max-width: 1550px) {
		.w-content{
			min-width: 400px;
			height: 478.5px;
		}
		.s-content{
			min-width: 400px;
			height: 317px;
		}
		.sectiona{	
			height:287px;
		}
		.sectionb{
			height:287px;
		}
	}
